.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  width: 375px;
  height: 730px;
}
.light-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.light-img img {
  background: linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
}
.light-mode {
  width: 375px;
  height: 530px;
  background: #fafafa;
  display: flex;
  justify-content: center;
}
.main {
  width: 327px;
  position: absolute;
  top: 48px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  /* box-shadow: 0px 35px 50px -15px #c2c3d680; */
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-container {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px #c2c3d680;
  margin-bottom: 16px;
  border-radius: 8px;
  padding-left: 20px;
}
.check-box {
  background: none;
  border: none;
  height: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  cursor: pointer;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  caret-color: #3a7cfd;
}

.input-container input::placeholder {
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.17px;
  color: #9495a5;
}
ul {
  list-style: none;
  background: #ffffff;
  border-radius: 8px;
}
ul span {
  cursor: pointer;
  margin-left: 12px;
}
.list-item-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e4f1;
  padding: 16px 20px;
  width: 100%;
}
ul button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.list-item-container .btn {
  visibility: hidden;
}

.list-item-container:hover .btn {
  visibility: visible;
}
.list-item-container div {
  display: flex;
}
.list-item {
  color: #d1d2da;
  text-decoration: line-through;
}
.completed {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 20px 20px;
  background: #ffffff;
  margin-bottom: 16px;
  box-shadow: 0px 35px 50px -15px #c2c3d680;
}
.completed span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.17px;
  color: #9495a5;
}
.completed button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.17px;
  color: #9495a5;
  cursor: pointer;
  background: none;
  border: none;
}
.footer {
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px #c2c3d680;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  border-radius: 8px;
}

.footer button {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.19px;
  color: #9495a5;
  background: none;
  border: none;
  cursor: pointer;
}
.footer button:first-child {
  color: #3a7cfd;
}
.drop {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.19px;
  text-align: center;
  color: #9495a5;
}
